{{#partial "content"}}
    <section class="display-pg">
        <div class="hero-img"></div>
        <div class="hero-page">
            <h4>Welcome to Hero-Squad Application</h4>
            <a href="/hero-form"><button class="hero-btn btns">Create Hero</button></a>
        </div>
    </section>
{{/partial}}

{{> layout.hbs}}