{{#partial "content"}}

    <h2>CREATE A NEW SQUAD</h2>
    <form action="/squad" method="post">
        <div class="form-group">
            <label for="squadName">Name</label>
            <input type="text" class="form-control" name="squadName" id="squadName" placeholder="Name of the squad" required>
        </div>

        <div class="form-group">
            <label for="squadCause">Cause</label>
            <input type="text" class="form-control" name="squadCause" id="squadCause" placeholder="What does this squad fight against?" required>
        </div>

        <div class="form-group">
            <label for="squadSize">Size Limit</label>
            <input type="number" class="form-control" name="squadSize" id="squadSize" placeholder="How many heroes should be in this squad?" required>
        </div>

        <div class="form-group">
            <label for="squadHeroes">Available Heroes</label>
        </div>
        <button type="submit" class="btn btn-info my-2 my-sm-0">Create Squad</button>
    </form>

{{/partial}}
{{> layout.hbs}}