{{#partial "content"}}

    <p>Hero successfully created!</p>
    <p><a href="/hero" class="btn-info">View Heroes</a></p>
    <p><a href="/squad" class="btn-info">View Squads</a></p>

{{/partial}}

{{> layout.hbs}}