{{#partial "content"}}
    <div class="success">
        <p>Successfully created!</p>
        <hr>
        <a href="/hero" class="btns btn-info">View Heroes</a>
        <a href="/squad" class="btns btn-info">View Squads</a>
    </div>


{{/partial}}

{{> layout.hbs}}