{{#partial "content"}}

    <p>Hero successfully created!</p>
    <p><a href="/heroes/new" class="btn-info">Create Another Hero</a></p>
    <p><a href="/heroes" class="btn-info">View Heroes</a></p>

{{/partial}}

{{> layout.hbs}}